

<div class="container">

    <div class="execucao-acao">
        @if(iniciar){
        <button class="botao" (click)="finalizarSSE()">
          <img src="pata-vermelha.png" alt="Pausar SSE." />
          <p>Pausar SSE</p>
        </button>
        }@else{
        <button class="botao" (click)="comecarSSE()">
          <img src="pata-verde.png" alt="Executar SSE" />
          <p>Iniciar SSE</p>
        </button>
      
        }
      </div>
  <div
    class="container-gatos"
    cdkDropList
    cdkDropListOrientation="mixed"
    (cdkDropListDropped)="mover($event)"
  >
    @for(gato of ninhada_gatos; track gato){
    <app-card-gato [gato]="gato" cdkDrag class="card-gato" />
    }
  </div>
</div>
