

.container {
  margin: 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-image: url("../../../../public/fundo.jpg");
  background-repeat: repeat;
  background-size: 500px 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .execucao-acao {
    margin: 1rem;
    height: 5rem;
    width: 5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    .botao {
      background: none;
      border: none;
      font-weight: bold;
      img {
        width: 70%;
      }
    }
    &:hover {
      height: 6rem;
      width: 6rem;
    }
  }

  .container-gatos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .card-gato {
      margin: 1rem;
    }
  }
}
